.form-box {
    width: 350px;
    height: 350px;
    background-color: #ffffff;
}

.small-box {
    width: 350px;
    height: 100px;
    background-color: #ffffff;
}

.main-input {
    height: 40px;
    width: 250px;
    margin: 3px;
    border-radius: 5px;
    padding-left: 5px;
}